# Ignore sensitive configuration files
config.js
google-apps-script.gs

# Ignore environment variables
.env

# Ignore node modules if you're using npm
node_modules/

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.idea/
.vscode/
*.sublime-*

# Local Netlify folder
.netlify
